

<div class="post">
  <div class="page-header">
    <h1>
      <%= post.title %>
      <small>por <em> <%= post.author && post.author.name || "Sin autor" %> </em></small>
    </h1>
    <em> <%= post.updatedAt.toLocaleDateString() %></em>
  </div>

  <% if (session.user) { %>
    <% var form_name = 'fpj'; %>
    <% for (var j = 0; j < post.favourite.length; j++) { 
      if (post.favourite[j].userId == session.user.id) {
        post.isFavourite = true;  
      }
    }
    if (post.isFavourite) { %>
      <form class="fav_form" name='<%= form_name %>' method="post" action='/users/<%= session.user.id %>/favourites/<%= post.id %>' >
        <input type='hidden' name='_method' value='delete'>
        <a class="fav fav_on" href=''  onclick="return submitForm('<%= form_name %>')">Eliminar de favoritos</a>
      </form>        
    <% } else { %> 
      <form class="fav_form" name='<%= form_name %>' method="post" action='/users/<%= session.user.id %>/favourites/<%= post.id %>' >
        <input type='hidden' name='_method' value='put'>
        <a class="fav fav_off" href=''  onclick="return submitForm('<%= form_name %>')">Hacer favorito</a>
      </form>
    <% } %>
  <% } %>
  <p class="body"><%- escapeText(post.body) %></p>
  <% if (session.user && session.user.id == post.authorId) {%>  
    <a href="/posts/<%= post.id %>/edit"> Editar </a>
  <% } %>
</div>

<hr />
  <%- include ../attachments/index.ejs %>
<hr />
  <%- include ../comments/index.ejs %>
<hr />


<% if (session.user) { %>
  <blockquote>
    <%- include ../comments/new.ejs %> 
  </blockquote>
  <hr />
<% } %>

<a href="/posts"> Volver al índice de Posts</a>
